*{
margin: 0px;
padding: 0px;
font-size: 14px;
}

/*Nav*/

.colorNav {
  background-color: #34393f;
}

.containerNav{
  margin-left: 5%;
  margin-right: 5%;
}


.text1_7rem{
  font-size: 1.7rem;
}


/*First Div*/
.box {
position: relative;
display: flex; 
height: 56rem;
width: 100%;
}

.boxImg {
  width: 100%;
  object-fit: none;
  filter: brightness(0.5);
}




/*Text with CTA*/

.textPosition{
  width:50%;
  top: 20rem; 
  padding-right: 8rem;
  font-weight: 450;
}

.textPosition h1{
font-size: 4rem;
}

/*speakeres*/


.speakerBox p{
  text-align: center;
}

.speakerBox h1{
  text-align: center;
  line-height:14px
}

.body_span span .badge{
font-size: 100px
}

.speakerCard{
  width: 80%;
}

.textSize{
  font-size: 1.1rem;
}


textarea{
  resize: none;
}