/* * {
  font-size: 14px;
} */

.colorNav {
  background-color: #34393f;
}

.containerNav{
  margin-left: 5%;
  margin-right: 5%;
}

/*First Div*/
.div2 {
  display: flex;
  width: 100%;
  background-image: url('https://github.com/MariaEmiliaWalter/Tp-conf-codo_a_codo/blob/master/assets/img/fondo_div2.png'); 
 background-repeat: no-repeat;
}

.boxImg {
  align-self: center;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.boxImg img {
  width: 100%;
  height: auto;
  filter: brightness(0.5);
  
}



/*Text with CTA*/
.text{
  position: absolute;
 justify-content:flex-end; 
  color: white;  
  top: 45%; 
  left: 60%; 
  text-align: right;
  padding-right: 2%;
  padding-left: 2%;
}
.text p {
font-size: 20px;
}

.btn-group{
justify-content:space-between;
align-items: flex-end;
}
